
@{
    ViewBag.Title = "Admin";
}

<link href="~/Content/admin.css" rel="stylesheet" />
<div class="profile-area">

    <button type="Submit" value="Submit" class="btn btn- profile-btn">  @Html.ActionLink("Create Profile", "Create", "ProfileCreations")</button>

</div>

<div class="search-area">

    <button type="Submit" value="Submit" class="btn btn- search-btn">  @Html.ActionLink("Search Application", "ProfileCreation")</button>

</div>








